[submodule "firmware/micropython"]
	path = firmware/micropython
	url = https://github.com/micropython/micropython
[submodule "firmware/tinyweb"]
	path = firmware/tinyweb
	url = https://github.com/belyalov/tinyweb
[submodule "firmware/micropython-async"]
	path = firmware/micropython-async
	url = https://github.com/peterhinch/micropython-async
[submodule "firmware/packing"]
	path = firmware/packing
	url = git@github.com:2e0byo/packing.git
